@font-face {
	font-family: scp;
	src: url(../fonts/SourceCodePro-Regular.ttf);
}
:root {
	--border: 2px solid #525252;
	--bg: #171717;
	--hover-color: #1d4ed8;
	--bg-main: #262626;
}
* {
	scroll-behavior: smooth;
	user-select: none;
	margin: 0;
	padding: 0;
	font-family: scp;
	font-size: 16px;
	color: white;
	text-align: justify;
	-webkit-user-drag: none;
/*	outline: 1px solid blue;*/
}
body {
	background-color: var(--bg-main);
}
::-webkit-scrollbar {
	background-color: var(--bg-main);
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--bg);
	border: var(--border);
}
::-webkit-scrollbar-thumb:hover {
	border: 2px solid var(--hover-color);
}
header,
.inHeader,
.buttonHeader {
	display: flex;
	align-items: center;
}
header {
	background-color: var(--bg);
	border-bottom: var(--border);
	justify-content: space-evenly;
	position: sticky;
	top: 0;
	z-index: 1;
}
.buttonHeader {
	gap: 2rem;
}
.dainisekaiSymbol,
.logHorizonSymbol {
	margin: .3rem 0;
	cursor: pointer;
}
.dainisekaiSymbol {
	content: url(../media/image/dainisekai_sympol.png);
	width: 4rem;
	height: 4rem;
}
.logHorizonSymbol {
	content: url(../media/image/log_horizon_symbol.png);
	width: 6rem;
	height: 3rem;
}
.title,
.button {
	font-size: 2rem;
	text-decoration: none;
	cursor: pointer;
}
.button:hover,
.note span:hover,
li span:hover {
	text-decoration: underline;
	color: var(--hover-color);
}
.button:active,
.note span:active,
li span:active {
	color: yellow;
}
a {
	text-decoration: none;
}




.slider {
	background: rgba(38, 38, 38, .80);
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	gap: 1rem;
}
.hideOn {
	content: url(../media/image/icon/hideOn.png);
}
.hideOff {
	content: url(../media/image/icon/hideOff.png);
}
.toggleHide,
.none,
.left,
.right {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}
.left,
.right {
	filter: brightness(100);
}
.left:hover,
.right:hover {
	filter: brightness(1);
}
.left {
	content: url(../media/image/icon/left.png);
}
.left:hover {
	animation: left 1s infinite;
}
@keyframes left {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0px);
	}
}
.right {
	content: url(../media/image/icon/right.png);
}
.right:hover {
	animation: right 1s infinite;
}
@keyframes right {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);
	}
}
.turnOff,
.turnOff:hover {
	filter: grayscale(100%);
	animation: none;
}
.selectBox {
	align-items: center;
	cursor: pointer;
}
.select {
	background-color: var(--bg);
	width: 10rem;
	outline: var(--border);
	padding: .2rem;
	font-size: 1rem;
}
.optionBox {
	background-color: #262626;
	width: 10rem;
	height: 9.5rem;
	outline: var(--border);
	position: absolute;
	bottom: 3rem;
	overflow-y: auto;
}
.optionBoxHide {
	display: none;
}
.option {
	outline: var(--border);
	padding: .2rem;
}
.option:hover {
	background-color: var(--hover-color);
}
.option:active {
	color: yellow;
}
.optionSelected {
	background-color: gray;
}





h1,
h2,
h3 {
	text-align: center;
}
h1,
h2 {
	font-size: 2rem;
}
h3,
h4 {
	font-size: 1.4rem;
}
.markAll,
.startRead {
	background-color: #44444a;
	border-radius: .2rem;
	padding: .5rem;
	width: fit-content;
	cursor: pointer;
	align-self: center;
}
.markAll:hover,
.startRead:hover {
	filter: brightness(.8);
}
.infoContent {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.author::before,
.desc::before,
.tags::before {
	color: aqua;
	font-weight: bold;
	font-size: 1.2rem;
}
.author::before {
	content: 'Tác giả: ';
}
.desc::before {
	content: 'Mô tả: ';
}
.tags::before {
	content: 'Thể loại: ';
	align-self: center;
}
.tags {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
}
.tag {
	background-color: #36363a;
	border-radius: .2rem;
	padding: .3rem;
	align-self: center;
	cursor:	default;
}
.mark {
	width: 1.3rem;
	height: 1.3rem;
	cursor: pointer;
}
.read {
	content: url(../media/image/icon/hideOff.png);
}
.unread {
	content: url(../media/image/icon/hideOn.png);
}
.markUnread {
	border-left-color: var(--hover-color)!important;
}
.buttons,
.chapter {
	display: flex;
	gap: .5rem;
}
.buttons {
	flex-wrap: wrap;
}
.selectBox,
.main,
.dialogue,
.character {
	display: flex;
	flex-direction: column;
}
.main {
	width: 52rem;
	margin: 1rem auto 4rem auto;
	gap: 1rem;
}
.chapter,
.dialogue {
	background-color: #36363a;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-radius: .2rem;
	padding: .5rem;
	position: relative;
}
.dialogue {
	gap: 1rem;
}
.chapter:hover,
.dialogue:hover,
.dialogueHide:hover {
	filter: brightness(1.3);
}
.dialogueHide:hover {
	background-color: #0d0d0d;
	border-color: #0d0d0d;
}
.selectBox:hover,
.optionBox:hover {
	outline: 2px solid var(--hover-color);
}
p.clickable {
	cursor: pointer;
	width: 100%;
}
p {
	white-space: pre-wrap;
}
.info p {
	border-left: 2px solid yellow;
	padding-left: .5rem;
}
.dialogueHide {
	background-color: black;
	width: 100%;
	height: 100%;
	border-left: var(--border);
	border-right: var(--border);
	border-color: black;
	border-width: 5px;
	border-radius: .2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: -4.5px;
	font-size: 3rem;
	color: grey;
	cursor: pointer;
}



.dropdown {
	cursor: pointer;
}
.dropdown::before {
	content: '▽ ';
	color: red;
}
.dropdownActive::before {
	content: '△ ';
	color: lime;
}
.dropdownHide {
	display: none;
	margin-left: .5rem;
}
.dropdownShow {
	display: block;
}
.headerSmall {
	width: fit-content;
	padding-bottom: .3rem;
	margin-bottom: .5rem;
	border-bottom: .05rem solid white;
}
.group {
	margin: 1rem 0;
	display: flex;
}
.point,
.group li,
.note {
	margin: 0 0 .3rem .5rem;
}
h5 {
	min-width: 30%;
	max-width: 30%;
	text-align: left;
}
.point::before {
	content: '<-';
	margin-right: .3rem;
}
.note {
	border-left: .3rem solid yellow;
	padding-left: 1rem;
}
.note span,
li span {
	color: aqua;
	cursor: pointer;
}
.now::after {
	content: ' (Hiện tại)';
	font-size: .7rem;
	color: yellow;
	vertical-align: text-top;
}



.think,
.info {
	border-left-color: #36363a;
}
.unknown {
	border-left-color: black;
}
.Hg,
.Celia,
.Laren {
	border-left-color: #ffff66;
}
.Tamada {
	border-left-color: white;
}
.Shuuya,
.ShuuyaFather,
.ShuuyaMother {
	border-left-color: royalblue;
}
.Kowashi {
	border-left-color: #ff2727;
}
.Asahi {
	border-left-color: #613bad;
}
.villager {
	border-left-color: burlywood;
}
.soldiers {
	border-left-color: silver;
}
.Hyouka,
.HyoukaFather {
	border-left-color: lightskyblue;
}
.Fig {
	border-left-color: orangered;
}
.Maki {
	border-left-color: #dbff4a;
}
.Itsuki {
	border-left-color: #138500;
}
.Katsumi {
	border-left-color: #5c4300;
}