@media (max-width: 836px) {
	* {
		font-size: 14px;
	}

	.main {
		width: 40rem;
	}
	.explainShow {
		width: 38rem;
	}
}
@media (max-width: 588px) {
	* {
		font-size: 11px;
	}
	header {
		align-items: center;
		flex-wrap: wrap;
	}

	.author::before,
	.desc::before,
	.tags::before {
		font-size: 1rem;
	}

	h1 {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1.2rem;
	}

	.main {
		width: 25rem;
	}
	.chapter,
	.dialogue {
		border-width: 3px!important;
	}
	.explainShow {
		width: 23rem;
	}

	.sekaiDex {
		flex-direction: column;
	}

	.dropdownShow {
		display: block;
	}
	.group {
		width: 100%;
	}
}